 /*Globales*/
        
 html {
    
    box-sizing: border-box;
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    
}
h1{
    text-align: center;
    padding: 1rem;
}
h2{
    text-align: center;
    padding: 1rem;
    margin-bottom: 0rem;
}
h3{
    text-align: center;
    padding: 1rem;
    margin-bottom: 0rem;
    background-color: #F8CECE;
}
.cabecera{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.cabecera__logo{
    width: 100%;
}
.cabecera__titulo h1{
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-55%, -50%);
    font-size: 1.7rem;
    font-weight: 200;
}
@media(min-width: 768px) {
    .cabecera__titulo h1{
        font-size: 4rem;
    }
}
.cabecera__titulo h2{
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-55%, -50%);
    font-size: 1rem;
    font-weight: 400;
}
@media(min-width: 768px) {
    .cabecera__titulo h2{
        position: absolute;
        top: 60%;
        left: 52%;
        transform: translate(-55%, -50%);
        font-size: 1.5rem;
        font-weight: 400;
    }
}
.navegacion{
    margin: 0 auto;
}

.parrafo1{
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.card1{
    display: grid;
    grid-template-columns: repeat(1fr);

}
@media(min-width: 768px) {
    .card1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


 .cardInventario__Manualidades img{
    width: 100%;
    padding:  0rem 1rem 1rem;
    border-radius: 2rem;  
}

.cardInventario__Manualidades{
    text-align: center;
    
}

.cardInventario__Manualidades p{
font-size: 1rem;
text-align: center;
}


.CardSecciones{
    display: grid;
}
.CardSecciones a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;

    
}
.cardSeccion1{
    width: 95%;
    height: 10rem;
    background-color: #AED6F1;
    margin: 0rem auto;
}
.titulosSecciones h2{
    font-weight: 200;
}
.cardSeccion2{
    width: 95%;
    height: 10rem;
    background-color:  #82E0AA;
    margin: 0 auto;
}
.cardSeccion3{
    width: 95%;
    height: 10rem;
    background-color:  #F5B7B1;
    margin: 0 auto;
}
.cardSeccion1 img,
.cardSeccion2 img,
.cardSeccion3 img{
    width: 20%;
    display: block;
    margin: 1rem 10% 1rem 30%;
    opacity: 0.7;
    border-radius: 0.5rem;
}
.seccionesData{
    display: flex;
    justify-content: space-evenly;
}



footer {
    font-size: 0.7rem;
    padding: 0.5rem ;
    text-align: center;
    background-color: #5F6A6A;
    color: white;
    margin: 1rem 0rem 0rem;
}
@media(min-width: 768px) {
    footer {
        font-size: 1rem;
    }
}


/* PAGINA NOSOTROS */
.parrafoHistoria p{
    padding: 1rem;
    text-align: center;
}

/* PAGINA MANUALIDADAES*/

.cardInventario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.cardInventario__Manualidades{
    width: 85%;
    height: 97%;
    margin: 1rem auto 1rem;
    border-radius: 1rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(248, 206, 206, 0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(248, 206, 206, 0.75);
    box-shadow: 0px 0px 5px 3px rgba(248, 206, 206, 0.75);
}
.cardInventario__Manualidades p{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 1rem 0rem;
}
.card__data2 p{
    font-weight: 200;
    padding: 0rem;
    font-size: 0.9rem;
}
span{
    font-weight: 700;
}
 .botonCard a{
    text-decoration: none;
    background-color: #b8f5b8;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    font-weight: 700;
    color: white;
    
}

/* PAGINA CONTACTOS */

.contactos{
    display: grid;
    grid-template-columns: repeat(1fr);
    margin: 0 auto;
}
.contactos__card {
    margin: 1rem auto;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(236, 240, 241, 0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(236, 240, 241, 0.75);
    box-shadow: 0px 0px 5px 3px rgba(236, 240, 241, 0.75);

}
.contactos__card img{
    display: block;
    margin: 0 auto;
}
